body, html{
    height:100%;
    margin:0;
    font-size:16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:400;
    line-height: 1.8em;
    color:#666;

}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
 

}


.pimg1{
    background-image: url('compfest.jpg');
    min-height: 100%;
    
    
    

}

.pimg2{
    background-image: url('jepang.jpg');
    min-height: 600px;
}

.pimg3{
    background-image: url('pimg3.jpg');
    min-height: 400px;
}

.pimg4{
    background-image: url('pimg4.jpg');
    min-height: 500px;
    
    
    

}

.pimg5{
    background-image: url('starwars1.jfif');
    min-height: 500px;
    
    
    

}

.pimg6{
    background-image: url('starwars2.jpg');
    min-height: 500px;
    
    
    

}



.section1{
    text-align: center;
    padding: 50px 80px;
    background-color: #282e34;
    color: #ddd;
}

.section2{
    text-align: center; 
    padding: 10px 10px;
    background-color: #282e34;
    color: #ddd;
}

.section3{
    text-align: center; 
    padding: 10px 10px;
    background-color: #282e34;
    color: #ddd;
}

.section4{
    text-align: center; 
    padding: 10px 10px;
    background-color: #282e34;
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 10px;
    text-transform: lowercase;
}

@media(max-width: 570px){
    .pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6{
        background-attachment: scroll;
    }
}

